.cards {
}
.cards__list {
  list-style-type: none;
  padding: 20px 0 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(413px, 1fr));
  gap: 40px 20px;
  grid-auto-rows: auto;
  width: 100%;
  max-width: 1280px;
  margin: 0;
  grid-auto-rows: 1fr;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  justify-content: center;
}

.content {
  padding: 0 20px;
}
@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
    row-gap: 20px;
    padding-bottom: 20px;
  }
  .content {
    padding: 0 105px;
  }
}
