.card {
  aspect-ratio: 1 / 1;
  width: 100%;
  position: relative;
}

.card__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url(../images/State=Default.svg);
  background-color: transparent;
  border: none;
}

.card__delete-button:hover {
  cursor: pointer;
  background-image: url(../images/State=Hover.svg);
}

.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__like-button {
  background-image: url(../images/like-icon-dark.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.card__like-button:hover {
  opacity: 100%;
}

.card__like-button_active {
  background-image: url(../images/Union.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 0.4;
}

.card__title {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
  .card__title {
    line-height: 100%;
    font-size: 16px;
    max-width: 250px;
  }
  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
