.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: visability 0.3s linear, opacity 0.3s linear;
}
.modal_is-open {
  visibility: visible;
  opacity: 1;
  padding: 16px;
}

.modal__container {
  width: 730px;
  border-radius: 8px;
  background-color: #fff;
  padding: 0;
  position: relative;
  /* transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  margin: 10px; */
}
.modal__image_container {
  position: relative;
  padding: 0;
}

.modal_is-open .modal__container {
  /* transform: translateY(0); */
  padding: 16px;
}

.modal__close-btn {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 36px;
  right: 50px;
  background: transparent;
  background-size: 35px 35px;
  opacity: 0.4;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.modal__close_type_preview {
  top: 0;
  right: -32px;
  background-image: url(../images/Preview-btn-default.svg);
  opacity: 1;
  background-size: 29px 29px;
}

.modal__close_type_preview:hover {
  background-image: url(../images/Preview-btn-hover.svg);
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 1;
}
.modal__image-container {
  position: relative;
  padding: 0;
}
.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 8px;
}

.modal__caption {
  color: #fff;
}
.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  line-height: 100%;
  font-weight: 500;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #fff;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.modal__label {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 100%;
  color: #212121b2;
}
.modal__input {
  display: block;
  width: 100%;
  color: #212121;
  padding: 16px 12px;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  border: 1px solid #21212166;
  margin-top: 8px;
}
.modal__input:hover {
  border-color: #212121;
}

.modal__input::placeholder {
  color: #2121214d;
  cursor: pointer;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  border-radius: 8px;
  background-color: #121212;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  border: none;
}
.modal__submit-btn:hover {
  opacity: 0.7;
  cursor: pointer;
}
.modal_type_image-preview {
  padding: 16px;
}

@media screen and (max-width: 480px) {
  .modal__container {
    width: 300px;
    border-radius: 8px;
    padding: 12px;
    gap: 24px;
    box-sizing: border-box;
    font-size: 20px;
  }
  .modal__title {
    font-size: 20px;
    margin-top: 10px;
  }
  .modal__close-btn {
    top: 22px;
    right: 12px;
  }
  .modal__close_type_preview {
    top: -38px;
    right: 0;
  }
  .modal__submit-btn {
    width: 100%;
    margin-top: 0;
  }
  .modal__input {
    margin-bottom: 24px;
    font-size: 16px;
  }
  .modal__label {
    font-size: 16px;
  }
}

@media screen and (max-width: 627px) {
  .modal__close_type_preview {
    top: -38px;
    right: 0;
  }
}
